@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.flex-container {
  display: flex;
  border-radius : 5px;
  border-bottom: none;
  justify-content: flex-start;
  background-color: rgb(57, 57, 57);
}

.flex-container > div {
  background-color:rgb(57, 57, 57);

  margin: 5px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.dot {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 100%;
  
  align-items: flex-start;
  justify-items: auto;
}

.dot.red {
  background-color:#EB695A;
}

.dot.yellow {
  background-color:#5FC350;
}

.dot.green {
  background-color: #F2BB4D;
}
button {
  height: 50px;
  width: 60px;
  font-family: inherit;
  font-size: 16px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #555555;
  box-sizing: border-box;
  border: none;
  padding: 5 auto;
  margin: auto;
  text-align: center;
  color: #fff;
  border-radius: 2px;
}
td {
 
  background-color:#73736E;
  border-radius: 5px;
}
#root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-small {
  
  height: 362px;
  width: 625px;
  margin-top:50px;
  border: solid black 2px;
  border-radius: 10px;
  -webkit-box-shadow: -16px 10px 70px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: -16px 10px 70px -6px rgba(0,0,0,0.75);
  box-shadow: -16px 10px 70px -6px rgba(0,0,0,0.75);
  
  /* background-color: black; */
  background-color: black;
}
.screen {
  height: 70px;
  width: 100%;
  vertical-align: bottom;
  border: none;
  background-color: rgb(57, 57, 57);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 50px;
  font-style: normal;
 
  text-align: right;
}
.numeric{
  background-color: #73736E;
  font-size: 25px;
}
.arithmetic {
  background-color: #F0A03B;
  border-radius: 2px;
  font-size: 15px;
}
#yellow {
  background-color: #F0A03B;
}
.pre {
  margin-top: 10px;
  margin-left: 90px;
  font-size: 20px;
}
.head {
  font-size: 50px;
}